<section class="mirage-pos-relative mirage-code" style="margin-top: 10px;">
  <MirageGenCopyPaste @editorId={{resultObj.prop}}>
    <pre contenteditable={{true}} class="mirage-code-block" id={{resultObj.prop}}>export default {{this.resultObj.info}}</pre>
  </MirageGenCopyPaste>
</section>
