<section class="mirage-pos-relative mirage-code" style="margin-top: 10px;">
  <MirageGenCopyPaste @editorId={{resultObj.prop}}>
    <pre contenteditable={{true}} class="mirage-code-block" id={{resultObj.prop}}>import { Factory, faker } from 'ember-cli-mirage';

export default Factory.extend({{resultObj.info}});</pre>
  </MirageGenCopyPaste>
</section>
