.mirage-gen {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.mirage-gen-logo {
  background-color: #fff;
  font-size: 35px;
  border-radius: 50%;
  color: #FF522A;
  font-weight: 700;
  padding: 0px 10px;
  border: 7px solid #FF522A;
  cursor: pointer;
}

.mirage-gen-logo-active {
  background-color: #FF522A;
  color: #fff;
}

.mirage-pos-relative {
  position: relative;
}

.mirage-z-index-show {
  z-index: 10;
}

.mirage-api-container {
  position: absolute;
  right: 0px;
  padding: 10px;
  height: 100vh;
  background: #212121;
  color: #fff;
  overflow-y: scroll;
  width: 500px;
}

.mirage-api-list {
  list-style-type: none;
  padding: 10px;

  &>li {
    padding: 10px;
    cursor: pointer;
    word-break: break-word;

    &:hover {
      background-color: #FF522A;
    }
  }
}

.mirage-close {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 23px;
}

.mirage-code-section {
  margin: 0 10px;
}

.mirage-code-block {
  border: 2px solid #FF522A;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;

  &:-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #212121;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }
}

.mirage-code-heading {
  color: cyan;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.mirage-code-subheading {
  font-size: 16px;
}

.mirage-code {
  &:hover {
    .mirage-copy-icon {
      display: inline-block;
    }
  }

  .mirage-copy-icon {
    position: absolute;
    bottom: 15px;
    right: 9px;
    cursor: pointer;
    display: none;

    &:hover {
      color: cyan;
    }
  }
}

.mirage-gen-table {
  td {
    padding: 10px;

    input[type="radio"] {
      &:checked+label {
        font-weight: bold;
        color: cyan;
      }

      +label {
        padding-left: 5px;
      }
    }
  }
}

.mirage-gen-btn {
  background: cyan;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  border-width: 0;
  outline: none !important;
}

.mirage-gen-accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  background: #212121;
  outline: none !important;

  &.active,
  &:hover {
    background: #000;
  }
}

.mirage-gen-accordion-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.mirage-gen-heading-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 10px;
}

.mirage-gen-icon {
  cursor: pointer;

  &:hover {
    color: cyan;
  }
}

.mirage-gen-search-input {
  width: 451px;
  margin: 0 10px;
  height: 35px;
  padding: 10px;
}

.mirage-delete-icon {
  cursor: pointer;

  &:hover {
    stroke: #FF522A;
  }
}


.tree {
  list-style: none;

  &,
  * {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    position: relative;
    padding-left: 2vw;

    .tick-mark-section {
      cursor: pointer;
    }

    .svg-selected {
      fill: green;
    }

    .factory-tick-name {
      color: red;
    }

    .fixture-tick-name {
      color: greenyellow;
    }

    // [connector] child-to-parent
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border-top: 1px solid;
      width: 2vw;
    }

    // [connector] children-group
    &:not(.different) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        border-left: 1px solid;
      }
    }

    // [connector] children-group:last-child
    &:last-of-type::after {
      height: 50%;
      top: 0;
    }

    // [connector] children-group:first-child
    &:first-of-type::after {
      height: 50%;
      bottom: 0;
    }

    // [connector] children-group:middle-child(ren)
    &:not(:first-of-type):not(:last-of-type)::after {
      height: 100%;
    }
  }

  ul,
  ol {
    padding-left: 2vw;
    position: relative;

    // [connector] parent-to-children
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      border-top: 1px solid;
      width: 2vw;
    }
  }

  span {
    text-align: center;
    padding: 1em 0.66em;
  }

  >li {
    padding-left: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.graph {
  display: flex;
  align-items: center;
  overflow-x: scroll;

  &::-webkit-scrollbar-track {
    background: #212121;
  }
}

.mirage-gen-tick-section {
  display: flex;
  justify-content: space-around;

  svg {
    cursor: pointer;
  }
}

.tick-icon {
  fill: gray;
}

.mirage-gen-obj-tree-notation {
  span {
    padding-left: 10px;
  }
}