<section class="mirage-gen-obj-tree-notation">
  <span style="color: greenyellow;">F - Fixture</span>
  <span style="color: red;">F - Factory</span>
  <span>N - Normal</span>
</section>
<ul id="my-graph" class="tree graph"></ul>