<u class="mirage-code-heading">For config.js</u>
<section class="mirage-pos-relative mirage-code">
  <MirageGenCopyPaste @editorId="api-editor">
    <pre contenteditable={{true}} class="mirage-code-block" id="api-editor">this.{{this.response.method}}('{{this.url}}', function(schema, request) {
  return {{this.output}}
});</pre>
  </MirageGenCopyPaste>
</section>
